

<nav style="margin-top: 170px;" class="top-bar" data-topbar="">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>

    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
         <li><a href="http://railstutorial.org/" title="">Rails Tutorial by Michael Hartl</a>

    </ul>
    </ul>
  </section>

  
</nav>
